body {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.layout {
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	padding: 0;

	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;

	background-color: #ffffff;
}

.main-navigation a,
.site-navigation a {
	color: #000000;

}

.site-navigation a:hover, 
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation-current a {
	color: #766357;
}

.intro {
	width: 100%;
	text-align: center;
	padding-top: 78px;
	padding-bottom: 80px;
	margin-bottom: 60px;

	background-color: #ffffff;
	background-image: url(../img/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;

}

.features {
	margin-bottom: 60px;
}


.features h2 {
	margin-bottom: 40px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #000000;
}

.features p {
	margin-bottom: 60px;
	line-height: 26px;
	text-align: center;
}

.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.features-item {
	width: 400px;
	height: 256px;
}

.features-img-first {
	width: 800px;

	background-image: url(../img/content-first.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.features-img-second {
	width: 800px;

	background-image: url(../img/content-second.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.features-item:first-child {
	order: -3;
}

.features-img-first {
	order: -2;
}

.more-features {
	order: -1;
	width: 1200px;
	height: 330px;
}

.more-features-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.more-features-list li {
	width: 400px;

}

.features-item,
.more-features {
	text-align: center;
	list-style: none;
}

.features-item p,
.features-item span {
	padding: 0;
	line-height: 21px;
}

.features-item p {
	margin-top: 20px;
}


.features-item h3 {
	margin: 0;
	margin-bottom: 22px;
	padding-top: 47px;

	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.features-item-blue, 
.features-item-blue h3 {
	color: #ffffff;

	background-color: #81b3d2;
}

.features-item-grey {
	background-color: #eeeeee;
}

.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search h2 {
	margin-bottom: 27px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	color: #000000;
}

.search p {
	margin-bottom: 50px;

	text-align: center;
}

.search-modal {
	width: 1200px;

	background-color: #f2f1ef;
	background-image: url(../img/map.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.search-put h3 {
	width: 570px;
	margin: 0 auto;
	padding-top: 32px;
	padding-bottom: 30px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;

	background-color: #766357;
}

.search-put:hover h3,
.search-put:focus h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;

	background-color: #604e43;
}

.search-put:active h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.search-form {
	width: 570px;
	margin: 0 auto 80px auto;
}

.search-item {
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
	color: #000000;
}

.search-form {
	background-color: #ffffff;
}

.search-form input[type="text"] {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;

	background-color: #f2f2f2;
	border: none;
}

.search-form input[type="text"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-form input[type="text"]:hover {
	background-color: #ebebeb;
}

button.search-button {
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #81b3d2;	
	border: none;
}

button.search-button:hover, 
button.search-button:focus {
	background-color: #669ec0	
}

button.search-button:active {
	background-color: #5496bd
}

.filters {
	width: 1200px;
	margin-bottom: 30px;
}

.filter {
	display: flex;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #81b3d2;
	background-image: url(../img/intro-hotels.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.filter .infra {
	width: 255px;
	margin-left: 73px;
}

.filter .type {
	width: 255px;
}

.filter .cost {
	margin-left: auto;
	margin-right: 73px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	border: none;
}

.filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filter-option-list {
	list-style: none;
}

.filter-option-list label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.filter-option input:disabled + label {
	color: #6a6a6a;
}

.filter-button {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
	color: #000000;

	background-color: #ffffff;
	border: 2px solid #ffffff;
}

.result {
	display: flex;
	flex-direction: column;
	width: 1200px;
}

.result-title {
	display: flex;
	align-items: baseline;
	width: 1200px;

	border-bottom: 1px solid #e5e5e5;
}

.result-title h2 {
	margin: 0;
	padding: 0;
	margin-left: 73px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.result-sorting,
.result-nav {
	display: flex;
	margin: 0;
	padding: 0;
	margin-bottom: 33px;

	list-style: none;
}

.result-nav {
	margin-left: auto;
	margin-right: 73px;
}

.result-title p {
	margin: 0;
	padding: 0;
	margin-left: 50px;
}

.result p,
.result-sorting a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.result-sorting a {
	color: rgba(0, 0, 0, 0.3);
}

.result-sorting a:hover,
.result-sorting a:focus {
	color: #81b3d2;

	border-bottom: 1px dotted #81b3d2;
}

.result-sorting-current a {
	color: #81b3d2;
}

.result-sorting a:active {
	color: #000000;

	border: none;
}

.result-sorting li {
	padding: 0;
	margin-left: 33px;
}

.result-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.result-list-item {
	display: flex;
	padding: 30px 0;

	border-bottom: 1px solid #e5e5e5;
}

.result-list-item a:first-child {
	margin-left: 73px;
}

.result-item {
	margin-left: 30px;
}

.rating-box {
	margin-right: 73px;
	margin-left: auto;
}

.result-name {
	margin-left: 73px;
}

.result-name h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.result-name:hover h3, 
.result-name:focus h3 {
	color: #81b3d2;
}

.result-name:active h3 {
	color: rgba(0, 0, 0, 0.3);
}

.resulte-more {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #81b3d2;
}

.resulte-more:hover,
.resulte-more:focus {
	background-color: #669ec0;
}

.resulte-more:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.resulte-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #766357;
}

.resulte-book:hover,
.resulte-book:focus {
	background-color: #604e43;
}

.resulte-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.result-rating {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;

	background-color: #f2f2f2
}

.main-footer {
	display: flex;
	align-items: center;
	padding-top: 33px;
	padding-bottom: 36px;

	background-color: rgba(255, 255, 255, 0.9);
}

.footer-visit {
	margin-left: 133px;
	margin-right: 256px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-social {
	margin-right: 228px;
}

.footer-social ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-social a {
	background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
	background-color: #669ec0;
}

.footer-social a:active {
	background-color: #5496bd;
}

.footer-copyright span {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}