body {
	margin: 0;
	padding: 0;
	
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	padding: 0;

	background-color: #ffffff;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header {
	position: relative;
	width: 100%;
}

.main-navigation {
	width: 100%;
	top: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	z-index: 200;

	-webkit-transform: translateX(-50%);

	    -ms-transform: translateX(-50%);

	        transform: translateX(-50%);
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	list-style: none;

	background-color: #ffffff;
}

.site-navigation li {
	width: 20%;
	padding: 15px 0;

	text-align: center;
}

.main-navigation a,
.site-navigation a {
	color: #000000;

}

.site-navigation a:hover, 
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation-current a {
	color: #766357;
}

.intro {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 80px;

	background-color: #ffffff;
	background-image: url(../img/background.jpg);
	background-position: center -85px;
	background-repeat: no-repeat;
}

.intro::after {
	content: '';
	position: absolute;
	bottom: 0;

	display: block;
	width: 100%;
	height: 57px;

	background-image: url(../img/intro-mask.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.features {
	padding-top: 55px;
}

.features-title {
	padding-bottom: 40px;
}


.features-title h2 {
	margin: 0;
	margin-bottom: 25px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #000000;
}

.features-title p {
	line-height: 26px;
	text-align: center;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.features-contanier {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 100%;
}

.features-item {
	width: 400px;
	padding-top: 45px;
	padding-right: 20px;
	padding-bottom: 60px;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.features-item span::before,
.features-item span::after {
	content: '—';
	display: inline-block;

	margin: 0 5px;

	font: inherit;
}

.features-img-first {
	width: 800px;

	background-color: #81b3d2;
	background-image: url(../img/content-first.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.features-img-second {
	width: 800px;

	background-color: #81b3d2;
	background-image: url(../img/content-second.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.more-features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;

	list-style: none;
}

.more-features-item {
	width: 400px;
	padding-top: 60px;
	padding-bottom: 85px;
}

.more-features-item::before {
	content: '';
	display: block;
	width: 76px;
	height: 76px;
	margin: 0 auto;
	margin-bottom: 25px;

	background-image: url(../img/icon-1.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.more-features-item:nth-child(2)::before {
	background-image: url(../img/icon-2.svg);
}

.more-features-item:nth-child(3)::before {
	background-image: url(../img/icon-3.svg);
}

.features-item,
.more-features {
	text-align: center;
	list-style: none;
}

.features-item p{
	margin: 0;
	padding: 0;
	line-height: 21px;
}

.features-item span {
	display: block;
	margin-bottom: 20px;
}

.features-item h3 {
	margin: 0;
	margin-bottom: 22px;

	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.features-item-blue, 
.features-item-blue h3 {
	color: #ffffff;

	background-color: #81b3d2;
}

.features-item-grey {
	background-color: #eeeeee;
}

.search {
	padding-top: 50px;
	margin-bottom: -120px;
}

.search h2 {
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	color: #000000;
}

.search p {
	margin: 0;
	margin-bottom: 53px;

	text-align: center;
}

.search-modal {
	position: relative;
	width: 100%;
	height: 593px;

	overflow: hidden;

	background-color: #f2f1ef;
	background-image: url(../img/map.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.search-put {
	width: 570px;
	margin: 0 auto;
}

.search-put h3 {
	width: 570px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;

	background-color: #766357;

	cursor: pointer;
}

.search-put:hover h3,
.search-put:focus h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;

	background-color: #604e43;
}

.search-put:active h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 570px;
	margin: 0 auto 80px;
	padding: 55px;

	position: absolute;
	top: 0;
	left: 315px;
	
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-transition: all ease 0.6s;

	-o-transition: all ease 0.6s;

	transition: all ease 0.6s;
}

.search-form p.search-item {
	margin: 0;
	margin-bottom: 30px;
}

.search-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;

	position: relative;
	width: 100%;
	margin: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
	color: #000000;
}

.search-container {
	width: 346px;
	display: inline-block;
}

.search-container input {
	display: inline-block;
	width: 54px;
	text-align: center;
}

.search-container label {
	display: inline-block;
	margin-left: 54px;
	margin-right: 27px;
}

.search-form input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	padding: 9px;

	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;

	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: 0;
}

.search-form input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.check-date input {
	width: 346px;	
}

.search-form svg {
	position: absolute;
	top: 8px;
	right: 9px;

	width: 21px;
	height: 22px;
}

.search-form svg:hover,
.search-form svg:focus {
	fill: #000000;
}

.search-form svg:active {
	fill: #81b3d2;
}

.modal-close {
	-webkit-transform: translateY(-500px);
	    -ms-transform: translateY(-500px);
	        transform: translateY(-500px);
}

.search-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

button.add-remove {
	padding: 11px;
	
	font-size: 14px;
	font-weight: 700;
	color: #a9a9a9;

	background-color: #f2f2f2;
	border: none;
}

button.add-remove:hover, 
button.add-remove:focus {
	color: #000000;

}

button.add-remove:active {
	color: #81b3d2;	
}

button.search-button {
	display: block;
	width: 100%;

	padding: 17px;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #81b3d2;	
	border: none;
}

button.search-button:hover, 
button.search-button:focus {
	background-color: #669ec0	
}

button.search-button:active {
	background-color: #5496bd
}

.filters {
	width: 100%;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 27px;
	padding-right: 73px;
	padding-bottom: 7px;
	padding-left: 73px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #81b3d2;
	background-image: url(../img/intro-hotels.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.filter .infra {
	width: 255px;
}

.filter .type {
	width: 255px;
}

.filter .cost {
	margin-left: auto;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filter legend {
	margin-bottom: 11px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filter-option-list {
	list-style: none;
}

.filter-option {
	margin-bottom: 25px;
}

.filter-option label {
	position: relative;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.filter-option input:disabled + label {
	color: #6a6a6a;
}

.filter-input + label::after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	left: -40px;
	width: 27px;
	height: 23px;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input:checked + label::after {
	background-image: url(../img/checkbox-on.svg);
}

.filter-input:disabled + label::after {
	opacity: 0.3;
}

.filter-input:focus + label::after {
	outline: 2px solid #81b3d2;
}

.filter-range {
	width: 330px;

	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.filter-button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
	color: #000000;

	background-color: #ffffff;
	border: 2px solid #ffffff;
}

.result {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 1200px;
}

.result-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;

	padding-top: 29px;
	padding-right: 73px;
	padding-bottom: 30px;
	padding-left: 73px;

	border-bottom: 1px solid #e5e5e5;
}

.result-title h2 {
	margin: 0;
	padding: 0;
	min-width: 100px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.result-sorting,
.result-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.result-nav {
	min-width: 50px;
	margin-left: auto;
}

.result-title p {
	margin: 0;
	padding: 0;
	margin-left: 50px;
}

.result p,
.result-sorting a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.result-sorting a {
	color: rgba(0, 0, 0, 0.3);
}

.result-sorting a:hover,
.result-sorting a:focus {
	color: #81b3d2;

	border-bottom: 1px dotted #81b3d2;
}

.result-sorting-current a {
	color: #81b3d2;
}

.result-sorting a:active {
	color: #000000;

	border: none;
}

.result-sorting li {
	padding: 0;
	margin-left: 33px;
}

.result-nav-item {
	width: 11px;
	height: 10px;
	margin-left: 12px;
}

.result-nav-item:hover svg{
	fill: #231f20;
	cursor: pointer;
}

.result-nav-item:active svg {
	fill: #81b3d2;
}

.result-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.result-list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 25px;
	padding-right: 73px;
	padding-bottom: 30px;
	padding-left: 73px;

	border-bottom: 1px solid #e5e5e5;
}

.result-list-item > a {
	height: 90px;
}

.result-list-item p {
	margin: 0;
	padding: 0;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #333333;
}

.result-list-item img {
	margin-top: 5px;
}

.result-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	-ms-align-items: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	width: 260px;
	margin-left: 30px;
}

.result-item p {
	display: block;
	width: 120px;
}

.rating-box {
	margin-left: auto;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.result-name h3 {
	margin: 0;
	margin-bottom: 5px;

	
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.result-name:hover h3, 
.result-name:focus h3 {
	color: #81b3d2;
}

.result-name:active h3 {
	color: rgba(0, 0, 0, 0.3);
}

.resulte-more {
	display: block;

	padding: 3px 17px;
	margin-right: 7px;
	margin-top: 16px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	background-color: #81b3d2;
}

.resulte-more:hover,
.resulte-more:focus {
	background-color: #669ec0;
}

.resulte-more:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.resulte-book {
	font-family: inherit;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	border: none;

	padding: 3px 16px;
	margin-top: 16px;

	background-color: #766357;
	cursor: pointer;
}

.resulte-book:hover,
.resulte-book:focus {
	background-color: #604e43;
}

.resulte-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.result-rating {
	display: block;
	padding: 3px 16px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;

	background-color: #f2f2f2
}

.result-star .stars {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 17px;
	
	background-image: url(../img/star.svg);
}

.main-footer {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding-top: 35px;
	padding-bottom: 35px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2000;
}

.footer-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 400px;
	margin: 0;
}

.footer-visit {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0;
	margin-bottom: 2px;
	padding: 0;

	list-style: none;
}

.footer-social-list li {
	margin-right: 6px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 46px;
	height: 48px;
}

.social-button:active img {
	opacity: 0.3;
}

.footer-social a {
	background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
	background-color: #669ec0;
}

.footer-social a:active {
	background-color: #5496bd;
}

.footer-copyright span {
	margin-right: 8px;

	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.footer-academy-logo:hover svg,
.footer-academy-logo:focus svg {
	fill: #81b3d2;
}

.footer-academy-logo:active svg {
	fill: #bdbbbc;
}